<div class="profile-info-container">
  <mat-card class="profile-title">
    <p>Информация о профиле</p>
    <mat-icon *ngIf="!editMode" (click)="editMode = true">create</mat-icon>
    <mat-icon *ngIf="editMode" (click)="editMode = false">undo</mat-icon>
  </mat-card>
  <mat-card *ngIf="!editMode && user" class="profile-card">
    <p class="field-subtitle">Имя</p>
    <p>{{user.username}}</p>
    <p class="field-subtitle">Телефон</p>
    <p>{{user.phone_number}}</p>
    <p class="field-subtitle">Email</p>
    <p>{{user.email}}</p>
    <p class="field-subtitle">Страна</p>
    <p>{{user.country}}</p>
    <p class="field-subtitle">Город</p>
    <p>{{user.city}}</p>
    <p class="field-subtitle">О себе</p>
    <p>{{user.about}}</p>
  </mat-card>
  <form *ngIf="editMode && user" class="change-info-container" [formGroup]="newProfileInfo" (submit)="changeProfileInfo()">
    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput placeholder="Введите имя" formControlName="username" required>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <span matPrefix style="position:relative; top:-4px">+7 &nbsp;</span>
      <mat-label>Телефон</mat-label>
      <input matInput type="tel" placeholder="(912) 345-67-89" [textMask]="{mask: mask}" formControlName="phone_number"
             required>
      <mat-icon style="color: #adacac" matSuffix>phone</mat-icon>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Введите Email"  formControlName="email" required>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Страна</mat-label>
      <input matInput placeholder="Введите страну"  formControlName="country">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Город</mat-label>
      <input matInput placeholder="Введите город"  formControlName="city">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Напишите о себе"  formControlName="about"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="newProfileInfo.invalid" class="change-profile-btn">Сохранить изменения</button>
  </form>
</div>
