.toolbar-field-primary {
  cursor: pointer;
  margin-right: 15px;
}

.toolbar-field {
  font-size: 1rem;
  color: #cbb8ea;
  cursor: pointer;
  margin: 0 15px;

  &:hover {
    color: white;
  }

  &.with-icon {
    position: relative;
    margin-top: -3px;

    mat-icon {
      position: relative;
      top: 6px;
      font-size: 1.5rem;
    }
  }
}

.create-stream {
  color: white;
}

.spacer {
  flex: 1;
}

.user-name {
  font-size: 0.9rem;
}

.exit-button {
  color: #cbb8ea;
  &:hover {
    color: white;
  }
}


