<mat-toolbar color="primary">
  <p *ngIf="!isAuthorized" routerLink="/" class="toolbar-field-primary">Lemma</p>
  <p *ngIf="isAuthorized" routerLink="/user" class="toolbar-field-primary">Lemma for you</p>
  <p *ngIf="isAuthorized" [routerLink]="['/user/profile']" class="toolbar-field with-icon">
    <mat-icon>account_box</mat-icon>
    Профиль
  </p>
  <p *ngIf="isAuthorized" [routerLink]="['/user/channel']" class="toolbar-field">Канал</p>
  <p *ngIf="isAuthorized" [routerLink]="['/user/create-broadcasting']" class="toolbar-field with-icon create-stream">
    <mat-icon>add</mat-icon>
    Создать стрим
  </p>
  <p *ngIf="isAuthorized" [routerLink]="['/user/planning-broadcast']" class="toolbar-field">Запланировать</p>
  <span class="spacer"></span>
  <p *ngIf="isAuthorized && userName" [routerLink]="['/user/profile']" class="toolbar-field user-name">{{userName}}</p>
  <button *ngIf="isAuthorized" mat-icon-button class="exit-button" (click)="logout()">
    <mat-icon aria-label="power_settings_new">power_settings_new</mat-icon>
  </button>
</mat-toolbar>
