<div class="page-content">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Введите телефонный номер</ng-template>
        <mat-form-field>
          <input matInput type="tel" placeholder="(912) 345-67-89" formControlName="firstCtrl" [textMask]="{mask: mask}"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="logIn(firstFormGroup.getRawValue().firstCtrl)">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Введите код подтверждения</ng-template>
        <mat-form-field>
          <input matInput type="password" placeholder="123456" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Изменить номер</button>
          <button mat-button matStepperNext
                  (click)="verifyCode(firstFormGroup.getRawValue().firstCtrl, secondFormGroup.getRawValue().secondCtrl)">
            Подтвердить
          </button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</div>

