<div class="chat-container" #scroll>
  <mat-card>
    <mat-card-header class="card-header">
      <p>Чат</p>
    </mat-card-header>
    <mat-card-content class="messages-container">
      <div *ngIf="showMuteBlock" class="mute-block">
        <mat-icon class="cancel-button" (click)="showMuteBlock = false">clear</mat-icon>
        <p>
          Вы уверены, что хотите замьютить пользователя
          <span class="muted-user-name">
          {{muteUserName}}
        </span>
          ? Все его сообщения будут удалены из чата.
        </p>
        <button mat-button class="mute-btn">MUTE</button>
      </div>
      <div *ngFor="let message of comments" class="message-container">
        <div style="display: flex; justify-content: space-between">
          <p class="mute-btn" (click)="muteUser(message)">Mute</p>
          <p class="user-name" *ngIf="message.user_name">{{message.user_name}}</p>
        </div>
        <p>{{message.text}}</p>
        <p class="timestamp" *ngIf="message.created_at">{{message.created_at |date:'shortTime'}}</p>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <mat-form-field appearance="outline">
        <mat-label>Введите сообщение</mat-label>
        <input matInput
               [(ngModel)]="messageText"
               placeholder="Текст сообщения">
      </mat-form-field>
      <button mat-mini-fab
              color="primary"
              style="margin-left:15px; margin-top:14px"
              (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
