.chat-container {
  width: 300px;
  margin: 20px;

  .card-header {
    background-color: #ffd740;
    border-radius: 15px;
    margin-bottom: 15px;

    p {
      margin: 2px auto 2px 2px;
    }
  }

  .messages-container {
    overflow: auto;
  }

  .message-container {
    max-width: 200px;
    min-width: 100px;
    padding: 2px 4px;
    background-color: #8065ad;
    margin: 5px 0 5px auto;
    border-radius: 14px;

    p {
      margin: 5px;
      font-size: 12px;
      text-align: right;
      color: white;

      &.user-name {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.5);
      }

      &.timestamp {
        font-size: 9px;
        text-align: left;
      }
    }

    .mute-btn {
      color: rgba(255, 255, 255, 0.25);
      font-size: 9px;
      margin: 7px 2px 2px 8px;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }
  }

  mat-card-content {
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
  }

  mat-card-actions {
    display: inline-flex;
    justify-content: space-between;
  }
}

.write-message {
  text-align: right;
  padding: 5px 14px;
  width: 157px;
  border-radius: 20px;
  border: 1px solid;
  background-color: #673ab7;
  color: white;
  margin-right: 0;
  margin-left: auto;
}

.mute-block {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(244, 93, 80, 0.6);

  .cancel-button {
    float: right;
    color: #f5eae9;
    font-weight: 500;
    padding: 4px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  p {
    margin: 8px 8px 0 8px;
    color: white;
    font-size: 0.9rem;

    .muted-user-name {
      font-size: 1.1rem;
    }
  }

  .mute-btn {
    border-radius: 10px;
    margin: 4px;
    color: white;
  }
}

