<div class="button-block">
  <button mat-raised-button [routerLink]="['/auth/login']">Войти</button>
  <button mat-raised-button color="primary" [routerLink]="['/auth/registration']">Регистрация</button>
</div>
