<div class="stream-info-container">
  <app-chat *ngIf="streamId" [streamId]="streamId"></app-chat>
  <mat-card class="broadcasting-container">
    <mat-card-header>
      <p>Трансляция</p>
    </mat-card-header>
    <video id="red5pro-publisher" width="600" height="450" muted autoplay></video>
    <mat-card-actions style="margin-left: 24px">
      <button mat-button>СТАРТ</button>
      <button mat-button>СТОП</button>
    </mat-card-actions>
  </mat-card>
  <div class="broadcast-settings-container">
    <mat-card>
      <mat-card-header class="card-header">
        <p>Настройки трансляции</p>
      </mat-card-header>
      <mat-card-content style="margin-top:20px;">
        <mat-form-field>
          <mat-select placeholder="Выберете камеру">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>
