.stream-info-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.broadcast-settings-container {
  width: 300px;
  margin: 20px;
}

.broadcasting-container {
  padding-left: 0;
  padding-right: 0;
  margin: 20px 0;
}


.card-header {
  background-color: #ffd740;
  border-radius: 15px;

  p {
    margin: 2px auto 2px 2px;
  }
}
