.channel-info-container {
  margin: auto;
  max-width: 350px;
}

.channel-title {
  box-sizing: border-box;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.channel-card {
  box-sizing: border-box;
  width: 350px;
  margin-top: 10px;

  p {
    font-size: 1rem;
    color: #7c7b7b;
    margin-top: 0;
  }

  .field-subtitle {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}
