<div class="channel-info-container">
  <mat-card class="channel-title">
    <p>Информация о канале</p>
  </mat-card>
  <mat-card *ngIf="user" class="channel-card">
    <p class="field-subtitle">Рейтинг</p>
    <p>{{user.rating}}</p>
    <p class="field-subtitle">Количество видео</p>
    <p>{{user.video_amount}}</p>
    <p class="field-subtitle">Количество подписчиков</p>
    <p>{{user.subscribers_amount}}</p>
    <p class="field-subtitle">Количество подписок</p>
    <p>{{user.subscriptions_amount}}</p>
  </mat-card>
</div>
