<mat-card class="broadcast-card" *ngIf="user">
  <mat-card-header>
    <mat-card-title>Планирование стрима</mat-card-title>
    <mat-card-subtitle>Автор: {{user.username}}</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="newBroadcastForm" (submit)="planningBroadcast()">
    <mat-card-content style="margin-top: 15px">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Название трансляции</mat-label>
          <input matInput
                 formControlName="name"
                 placeholder="Введите название"
                 type="text"
                 required>
          <mat-hint>Обязательное поле</mat-hint>
        </mat-form-field>
      </p>
      <div>
        <label>Тип трансляции </label>
        <mat-radio-group formControlName="free">
          <mat-radio-button value="true" style="margin-left: 10px" (click)="showPriseField = 0">Бесплатная
          </mat-radio-button>
          <mat-radio-button value="false" style="margin-left: 10px" (click)="showPriseField = 1">Платная
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <p *ngIf="showPriseField">
        <mat-form-field appearance="outline">
          <mat-label>Цена трансляции</mat-label>
          <input matInput
                 placeholder="Цена"
                 formControlName="price"
                 type="number"
                 class="mount-field">
          <span matPrefix>₽&nbsp;</span>
          <mat-hint>Обязательное поле</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Время начала трансляции</mat-label>
          <input matInput
                 placeholder="00:00"
                 formControlName="time"
                 type="text"
                 required
                 [textMask]="{mask: mask}"
          >
          <mat-hint>Обязательное поле</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Дата начала трансляции</mat-label>
          <input matInput
                 [matDatepicker]="picker"
                 placeholder="Выберете дату начала трансляции"
                 formControlName="date"
                 disabled>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
          <mat-hint>Обязательное поле</mat-hint>
        </mat-form-field>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" [disabled]="!newBroadcastForm.valid">Запланировать стрим</button>
      <button mat-button routerLink="/user">Отмена</button>
    </mat-card-actions>
  </form>
</mat-card>
