.broadcast-card {
  margin: 50px auto 0 auto;
  max-width: 500px;
}

.mount-field {
  text-align: right;
}

input.mount-field::-webkit-outer-spin-button,
input.mount-field::-webkit-inner-spin-button {
  display: none;
}

input.mount-field {
  -moz-appearance: textfield;
}

.mat-form-field{
  width:350px;
}
