<div class="calendar-container">
  <mat-card class="calendar-title">Календарь запланированных трансляций</mat-card>
  <div class="calendar-info-container">
    <form [formGroup]="monthOptions" style="margin-top:25px">
      <mat-form-field appearance="outline" class="month-form-field">
        <mat-select formControlName="year">
          <mat-option value="2018" (click)="requestSampleOfBroadcasts()">2018</mat-option>
          <mat-option value="2019" (click)="requestSampleOfBroadcasts()">2019</mat-option>
          <mat-option value="2020" (click)="requestSampleOfBroadcasts()">2020</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="month-form-field">
        <mat-select formControlName="month">
          <mat-option value="0" (click)="requestSampleOfBroadcasts()">Январь</mat-option>
          <mat-option value="1" (click)="requestSampleOfBroadcasts()">Феараль</mat-option>
          <mat-option value="2" (click)="requestSampleOfBroadcasts()">Март</mat-option>
          <mat-option value="3" (click)="requestSampleOfBroadcasts()">Апрель</mat-option>
          <mat-option value="4" (click)="requestSampleOfBroadcasts()">Май</mat-option>
          <mat-option value="5" (click)="requestSampleOfBroadcasts()">Июнь</mat-option>
          <mat-option value="6" (click)="requestSampleOfBroadcasts()">Июль</mat-option>
          <mat-option value="7" (click)="requestSampleOfBroadcasts()">Август</mat-option>
          <mat-option value="8" (click)="requestSampleOfBroadcasts()">Сентябрь</mat-option>
          <mat-option value="9" (click)="requestSampleOfBroadcasts()">Октябрь</mat-option>
          <mat-option value="10" (click)="requestSampleOfBroadcasts()">Ноябрь</mat-option>
          <mat-option value="11" (click)="requestSampleOfBroadcasts()">Декабрь</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div *ngIf="plannedBroadcast" class="broadcasts-container">
      <mat-card class="calendar-card"
                *ngFor="let broadcast of plannedBroadcast">
        <div>
          <p class="date-number">{{getDayAndMonth(broadcast.time_start)}}</p>
          <p class="week-day">{{getWeekDayName(broadcast.time_start)}}</p>
          <p>{{broadcast.name}}</p>
        </div>
        <div>
          <mat-icon (click)="showDetail(broadcast.id)">create</mat-icon>
          <mat-icon >delete</mat-icon>
        </div>
      </mat-card>
      <div *ngIf="plannedBroadcast.length === 0" style="margin: 30px;">
        На данный месяц нет запланированных событий
      </div>
    </div>
  </div>
</div>
