.calendar-container {
  margin: auto;
}

.calendar-info-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  mat-form-field {
    display: block;
    margin: 10px;
  }

  .broadcasts-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

}

.calendar-title {
  margin: 30px auto;
  box-sizing: border-box;
  width: 400px;
}

.month-form-field {
  width: 350px;
}

.calendar-card {
  box-sizing: border-box;
  padding: 8px;
  margin: 10px;
  width: 350px;
  display: inline-flex;
  justify-content: space-between;

  mat-icon {
    color: #adacac;
    cursor: pointer;

    &:hover {
      color: #313030;
    }
  }

  p {
    font-size: 0.8rem;
    margin: 0;

    &.date-number {
      font-size: 1rem;
    }

    &.week-day {
      font-size: 0.6rem;
      color: #adacac;
      margin-top: -5px;
    }
  }
}

