.broadcast-info-container {
  margin: auto;
  max-width: 350px;
}

.broadcast-title {
  box-sizing: border-box;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 10px;

  mat-icon {
    color: #adacac;
    cursor: pointer;

    &:hover {
      color: #313030;
    }
  }
}

.broadcast-card {
  box-sizing: border-box;
  width: 350px;
  margin-top: 10px;

  p {
    font-size: 1rem;
    color: #7c7b7b;
    margin-top: 0;
  }

  .field-subtitle {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

.change-info-container {

  mat-form-field {
    display: block;
    width: 350px;
  }
}

.change-broadcast-btn {
  width: 350px;
}

.start-button {
  width: 350px;
  margin: 20px 0;
}

.form-field {
  margin: 20px 0;

  &.textarea-field {
    padding: 0;
  }
}
