<div class="broadcast-info-container" *ngIf="broadcast">
  <mat-card class="broadcast-title">
    <p>Информация о трансляции {{broadcast.name}}</p>
    <mat-icon *ngIf="!editMode" (click)="editMode = true">create</mat-icon>
    <mat-icon *ngIf="editMode" (click)="editMode = false">undo</mat-icon>
  </mat-card>
  <mat-card *ngIf="!editMode" class="broadcast-card">
    <p class="field-subtitle">Имя</p>
    <p>{{broadcast.name}}</p>
    <p class="field-subtitle">Время начала</p>
    <p>{{broadcast.time_start | date : 'HH:mm dd.MM.yyy'}}</p>
    <p class="field-subtitle">Тип трансляции</p>
    <p *ngIf="broadcast.free">Бесплатно</p>
    <p *ngIf="!broadcast.free">Платно</p>
    <p class="field-subtitle">Описание</p>
    <p>{{broadcast.description}}</p>
    <p class="field-subtitle">Примерная продолжительносто</p>
    <p>{{broadcast.duration}} мин</p>
    <p class="field-subtitle">Бесплатное время</p>
    <p>{{broadcast.freetime}} мин</p>
    <p class="field-subtitle">Цена</p>
    <p>{{broadcast.price}} р</p>
  </mat-card>
  <button class="start-button" *ngIf="!editMode" mat-raised-button color="primary" (click)="startBroadcast()">Начать
    трансляцию
  </button>
  <form *ngIf="editMode && broadcast" class="change-info-container" [formGroup]="newBroadcastInfo"
        (submit)="changeBroadcastInfo()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Название</mat-label>
      <input matInput placeholder="Введите название" formControlName="name" required>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-radio-group formControlName="free" class="form-field">
      <mat-label>Тип трансляции</mat-label>
      <mat-radio-button value="true" style="margin-left: 10px" (click)="showPriseField = 0">Бесплатная
      </mat-radio-button>
      <mat-radio-button value="false" style="margin-left: 10px" (click)="showPriseField = 1">Платная
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="showPriseField" appearance="outline" class="form-field">
      <mat-label>Цена трансляции</mat-label>
      <input matInput
             placeholder="Цена"
             formControlName="price"
             type="number"
             class="mount-field">
      <span matPrefix>₽&nbsp;</span>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Время начала трансляции</mat-label>
      <input matInput
             placeholder="00:00"
             formControlName="time"
             type="text"
             required
             [textMask]="{mask: mask}"
      >
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Дата начала трансляции</mat-label>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Выберете дату начала трансляции"
             formControlName="date"
             disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <mat-hint>Обязательное поле</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field textarea-field">
      <textarea matInput placeholder="Описание" formControlName="description"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="newBroadcastInfo.invalid" class="change-broadcast-btn">
      Сохранить изменения
    </button>
  </form>
</div>
