<div class="page-content">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (submit)="registration()">
        <ng-template matStepLabel>Заполните форму</ng-template>
        <p>
          <mat-form-field>
            <mat-select placeholder="Страна" formControlName="country">
              <mat-option value="RU">Россия</mat-option>
              <mat-option value="UA">Украина</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Имя</mat-label>
            <input matInput placeholder="Ivan" formControlName="name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput placeholder="test@test.com" formControlName="email" email>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Номер телефона</mat-label>
            <input type="tel" matInput placeholder="(912) 345-67-89" formControlName="phone" [textMask]="{mask: mask}">
          </mat-form-field>
        </p>
        <div>
          <button mat-button matStepperNext type="submit" [disabled]="!firstFormGroup.valid">Далее</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Введите код подтверждения</ng-template>
        <mat-form-field>
          <input matInput type="password" placeholder="123456" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Изменить номер</button>
          <button mat-button matStepperNext
                  (click)="verifyCode(phone, secondFormGroup.getRawValue().secondCtrl)">
            Подтвердить
          </button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>
</div>

